.item-container {
    word-wrap: break-word;
    width: 150px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    text-decoration: none;
}

.item-container img {
    border-radius: 5px;
}
