#search-input {
    padding: 11px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 350px;
}

.search-submit {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: 1px solid var(--color-gray);
    cursor: pointer;
}