.input-field {
    margin-bottom: 20px;
    margin-top: 10px;
}

label {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.input-field input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: transparent;
}


.input-field input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #1a73e8;
}

#button-login, #button-to-register {
    width: 100%;
    margin: 10px auto;
}