@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

nav {
    background: #1b1811;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.align-center {
    display: flex;
    align-items: center;
}

#logo {
    height: 60px;
}

.pfp-icon {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

#user-button {
    display: flex;
    align-items: center;
    padding: 2px;
}

#user-button p {
    margin: 0 2px;
}


.option-container {
    list-style: none;
    text-align: left;
    position: absolute;
    top: 40px;
    right: 0px;
    background: var(--color-black);
    padding: 0;
    border-radius: 5px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}


.option-container li,
.option-container div {
    margin: 0;
}

#search-input {
    padding: 11px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 350px;
}

.search-submit {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: 1px solid var(--color-gray);
    cursor: pointer;
}